@using PrimeCalculator.Web.Helpers;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/app.js"></script>
</head>
<body>
    <div class="page">
        <div align="center" class="pageTitle">
            Find the Nth Prime Number
        </div>
        <div align="center">
            @using (Html.BeginForm("Index", "Home", FormMethod.Post))
            {
                <label class="subtitle">Please Enter A Number</label> <br />
                <input type="number" name="nthPrime" required /> <br />
                <input type="submit" value="Click Me To Get The Prime Number" class="submitButton" />
            }
        </div>
        @if (Model != null)
        {
            <div class="subtitle" align="center">The Prime Number Is</div>
            <div class="result" align="center">@Model</div>
        }

        else if (ViewBag.Message == MessageHelper.InputIsInvalid)
        {
            <div align="center" class="subtitle">@ViewBag.Message</div>
        }
    </div>
</body>
</html>
